/*-- scss:rules --*/
/*  
  Font-Sizes
  ==========
*/

.tiny {
  font-size: 60%;
}

.small {
  font-size: 80%;
}

.large {
  font-size: 120%;
}

.Large {
  font-size: 150%;
}

.huge {
  font-size: 175%;
}

.Huge {
  font-size: 200%;
}

/*
 Fonts alignments
 ================
*/

.center {
  text-align: center;
}
